@font-face {
  font-family: 'PT Sans Regular';
  src: url('front/assets/fonts/PTSans-Regular.eot');
  src:
    url('front/assets/fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('front/assets/fonts/PTSans-Regular.woff') format('woff'),
    url('front/assets/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Italic';
  src: url('front/assets/fonts/PTSans-Italic.eot');
  src:
    url('front/assets/fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('front/assets/fonts/PTSans-Italic.woff') format('woff'),
    url('front/assets/fonts/PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}